{include="header"}
<div class="container-fluid hidden-print" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-8">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                <span class="glyphicon glyphicon-refresh"></span>
            </a>
        </div>
        <div class="col-sm-4 text-right">
            <h2 style="margin-top: 0px;">Residentes</h2>
        </div>
    </div>
{if="$fsc->mapa"}
<div class="row">
    <form action="{$fsc->url()}" id="f_informe_residentes"  name="f_informe_residentes" method="post" class="form">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-2">
            {$fsc->padre->descripcion}:
            <select name="codigo_edificacion" class="form-control" onchange="this.form.submit();">
                <option value="">Todo</option>
                {loop="$fsc->mapa"}
                <option value="{$value->codigo_edificacion}" {if="$fsc->codigo_edificacion==$value->codigo_edificacion"}selected{/if}>{$fsc->padre->descripcion} {$value->codigo_edificacion}</option>
                {/loop}
            </select>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                Desde:
                <input type="text" name="desde" class="form-control datepicker" value="{$fsc->desde}"/>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                Hasta:
                <div class="input-group">
                    <input type="text" name="hasta" class="form-control datepicker" value="{$fsc->hasta}"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2">
            {if="$fsc->fileXLSX"}
            <br/>
            <a class="btn btn-sm btn-default" href="{#FS_PATH#}{$fsc->fileXLSX}" download><span class="fa fa-download"></span>&nbsp;Descargar Reporte</a>
            {/if}
        </div>
    </form>
</div>
<ul class="nav nav-tabs hidden-print">
   <li role="presentation" class="active">
      <a href="#informacion" aria-controls="informacion" role="tab" data-toggle="tab">Informacion General</a>
   </li>
   <li role="presentation">
      <a href="#residentes" aria-controls="residentes" role="tab" data-toggle="tab">Residentes</a>
   </li>
   <li role="presentation">
      <a href="#inmuebles" aria-controls="inmuebles" role="tab" data-toggle="tab">Inmuebles</a>
   </li>
   <li role="presentation">
      <a href="#cobros" aria-controls="cobros" role="tab" data-toggle="tab">Cobros</a>
   </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="informacion" style="padding: 10px;">
        <div class="row">
            <div class="col-sm-2">
                <canvas height="150" width="150" id="ocupacion"></canvas>
            </div>
            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="list-group-item active"><span class="fa fa-building-o"></span>&nbsp;Edificaciones</li>
                    {loop="$fsc->resultado"}
                    <li class="list-group-item">
                        {$value->descripcion}
                        <span class="badge">{$value->cantidad}</span>
                    </li>
                    {/loop}
                    <li class="list-group-item">
                        Vehiculos
                        <span class="badge">{$fsc->total_vehiculos}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="residentes" style="padding: 10px;">
        <table id="table-residentes"
                data-mobile-responsive="true"
                data-locale="es_ES"
                data-toggle="table"
                data-method="POST"
                data-height="500"
                data-search="false"
                data-ajax="buscarInformacionResidentes"
                data-pagination="true"
                data-page-size="100"
                data-page-list="[100,150,200,250,500]"
                data-show-footer="false"
                data-show-refresh="true"
                data-side-pagination="server">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="codcliente">Código</th>
                    <th data-sortable="true" data-field="nombre">Residente</th>
                    <th data-sortable="true" data-field="cifnif">{#FS_CIFNIF#}</th>
                    <th data-sortable="true" data-field="telefono1">Teléfono</th>
                    <th data-sortable="true" data-field="email">Email</th>
                    <th data-sortable="true" data-field="codigo">Ubicación</th>
                    <th data-sortable="true" data-field="numero">Inmueble Nro</th>
                    <th data-sortable="true" data-field="fecha_ocupacion">Fecha Ocupación</th>
                </tr>
            </thead>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="inmuebles" style="padding: 10px;">
        <table id="table-inmuebles"
                data-mobile-responsive="true"
                data-locale="es_ES"
                data-toggle="table"
                data-method="POST"
                data-height="500"
                data-search="false"
                data-ajax="buscarInformacionInmuebles"
                data-pagination="true"
                data-page-size="100"
                data-page-list="[100,150,200,250,500]"
                data-show-footer="false"
                data-show-refresh="true"
                data-side-pagination="server">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="padre_desc">Pertenece</th>
                    <th data-sortable="true" data-field="edif_desc">Edificacion</th>
                    <th data-sortable="true" data-field="codcliente">Código</th>
                    <th data-sortable="true" data-field="nombre">Residente</th>
                    <th data-sortable="true" data-field="cifnif">{#FS_CIFNIF#}</th>
                    <th data-sortable="true" data-field="telefono1">Teléfono</th>
                    <th data-sortable="true" data-field="email">Email</th>
                    <th data-sortable="true" data-field="codigo">Ubicación</th>
                    <th data-sortable="true" data-field="numero">Inmueble Nro</th>
                    <th data-sortable="true" data-field="fecha_ocupacion">Fecha Ocupación</th>
                    <th data-sortable="true" data-field="ocupado">Ocupado</th>
                </tr>
            </thead>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="cobros" style="padding: 10px;">
        <table id="table-cobros"
                data-mobile-responsive="true"
                data-locale="es_ES"
                data-toggle="table"
                data-method="POST"
                data-height="500"
                data-search="false"
                data-ajax="buscarInformacionCobros"
                data-pagination="true"
                data-page-size="100"
                data-page-list="[100,150,200,250,500]"
                data-show-footer="false"
                data-show-refresh="true"
                data-side-pagination="server">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="codcliente">Código</th>
                    <th data-sortable="true" data-field="nombre">Residente</th>
                    <th data-sortable="true" data-field="cifnif">{#FS_CIFNIF#}</th>
                    <th data-sortable="true" data-field="telefono1">Teléfono</th>
                    <th data-sortable="true" data-field="email">Email</th>
                    <th data-sortable="true" data-field="codigo">Ubicación</th>
                    <th data-sortable="true" data-field="numero">Inmueble Nro</th>
                    <th data-sortable="true" data-falign="right" data-align="right" data-formatter="numberFormatter" data-field="pagado">Pagado</th>
                    <th data-sortable="true" data-falign="right" data-align="right" data-formatter="numberFormatter" data-field="pendiente">Pendiente</th>
                    <th data-formatter="TableActions">&nbsp;</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    new Chart($('#ocupacion'), {
        type: 'pie',
        data: {
            labels: [
                "Ocupados {$fsc->inmuebles_ocupados}",
                "Disponibles {$fsc->inmuebles_libres}"
            ],
            datasets: [
            {
                data: [{$fsc->inmuebles_ocupados}, {$fsc->inmuebles_libres}],
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                ]
            }
            ]
        },
        options: {

        }
    });

    function TableActions (value, row, index) {
        return [
            '<button class="btn btn-sm btn-info" onclick="showDataResidente(\''+row.codcliente+'\')">',
            '<i class="fa fa-eye fa-fw"></i>',
            '<span>Ver Detalle</span>',
            '</a> ',
        ].join('');
    }

    function showDataResidente(codcliente) {
        $('#modal_cobros_residente').modal('show');
        $("#mostrar_informacion_residente").detach();
        $("<iframe id='mostrar_informacion_residente' />")
          .attr('src', '{$fsc->url()}&tipo=mostrar_informacion_residente&codcliente='+codcliente+'&'+$("#f_informe_residentes").serialize())
          .attr('width', '100%')
          .attr('height', '500')
          .appendTo('#modal_cobros_residente_body');
    }

    function runningFormatter(value, row, index) {
        return index;
    }

    function totalFormatter(data) {
        return data.length + ' Documentos';
    }

    function totalTextFormatter(data) {
        return 'Total';
    }

    function numberFormatter(value, row, index) {
        value = (value === null)?0:value;
        return parseFloat(value).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
    }

    function sumFormatter(data) {
        field = this.field;
        return parseFloat(data.reduce(function(sum, row) {
            return sum + (+row[field]);
        }, 0)).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
    }

    function sumNormalFormatter(data) {
        field = this.field;
        return parseFloat(data.reduce(function(sum, row) {
            return sum + (+row[field]);
        }, 0)).toFixed(2);
    }

    $(window).resize(function() {
        $('#table-residentes').bootstrapTable('resetView');
    });

    var $table = $('#table-residentes');
    $table.bootstrapTable('refreshOptions', {
        exportDataType: 'all'
    });

    function responseHandler(res) {
        return res;
    }

    function rowStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];
        if (row.estado==='f') {
            return {
                classes: 'danger'
            };
        }
        return {};
    }

    function runningFormatter(value, row, index) {
        var tableOptions = $('#table-residentes').bootstrapTable('getOptions');
        return ((tableOptions.pageNumber-1) * tableOptions.pageSize)+(1 + index);
    }

    function buscarInformacionResidentes(params){
        var search = (params.data.search!=='undefined')?params.data.search:'';
        var sort = (params.data.sort!=='undefined')?params.data.sort:'';
        var order = (params.data.order!=='undefined')?params.data.order:'';
        $.ajax({
            type: "GET",
            url: "{$fsc->url()}",
            data: "lista=informe_residentes&"+$("#f_informe_residentes").serialize()+'&offset='+params.data.offset+'&limit='+params.data.limit+'&search='+search+'&sort='+sort+'&order='+order,
            dataType: "json",
            success: function (data) {
                setTimeout(function() {
                    params.success({
                        total: data.total,
                        rows: data.rows
                    });
                }, 1000);

            },
            error: function (er) {
                params.error(er);
            }
        });
    }

    function buscarInformacionInmuebles(params){
        var search = (params.data.search!=='undefined')?params.data.search:'';
        var sort = (params.data.sort!=='undefined')?params.data.sort:'';
        var order = (params.data.order!=='undefined')?params.data.order:'';
        $.ajax({
            type: "GET",
            url: "{$fsc->url()}",
            data: "lista=informe_inmuebles&"+$("#f_informe_residentes").serialize()+'&offset='+params.data.offset+'&limit='+params.data.limit+'&search='+search+'&sort='+sort+'&order='+order,
            dataType: "json",
            success: function (data) {
                setTimeout(function() {
                    params.success({
                        total: data.total,
                        rows: data.rows
                    });
                }, 1000);

            },
            error: function (er) {
                params.error(er);
            }
        });
    }

    function buscarInformacionCobros(params){
        var search = (params.data.search!=='undefined')?params.data.search:'';
        var sort = (params.data.sort!=='undefined')?params.data.sort:'';
        var order = (params.data.order!=='undefined')?params.data.order:'';
        $.ajax({
            type: "GET",
            url: "{$fsc->url()}",
            data: "lista=informe_cobros&"+$("#f_informe_residentes").serialize()+'&offset='+params.data.offset+'&limit='+params.data.limit+'&search='+search+'&sort='+sort+'&order='+order,
            dataType: "json",
            success: function (data) {
                setTimeout(function() {
                    params.success({
                        total: data.total,
                        rows: data.rows
                    });
                }, 1000);
            },
            error: function (er) {
                params.error(er);
            }
        });
    }
</script>
</div>
{include="modal_informacion_residente"}
{else}
<div class="row">Debes crear tu estructura de residentes antes de ver algo aquí. ve a <a href="index.php?page=edificaciones">Edificaciones</a> para esta actividad.</div>
{/if}

{include="footer"}