{include="header"}
{if="$fsc->residente"}
<script type="text/javascript">
   var medicion_agua = 0;
   var medicion_gas = 0;
   var fs_nf0 = 2;
   var fs_nf0_art = 4;
   var all_impuestos = {function="json_encode($fsc->impuesto->all())"};

    function buscar_impuesto(cod){
       for(var i=0; i<all_impuestos.length; i++)
       {
          if(cod === all_impuestos[i].codimpuesto)
          {
             return all_impuestos[i].iva;
          }
       }
    }

    function recalcular(){
        var total_neto = 0;
        var total_impuestos = 0;
        var total_importe = 0;

        {loop="$fsc->articulos_cobrables"}
            total_neto += parseFloat(document.f_nueva_factura.importe_{$counter}.value);
            impuesto{$counter}=buscar_impuesto(document.f_nueva_factura.impuesto_{$counter}.value);
        {/loop}
        {loop="$fsc->articulos_cobrables"}
            total_impuestos += parseFloat(document.f_nueva_factura.importe_{$counter}.value)*((impuesto{$counter})/100);
            total_importe += (parseFloat(document.f_nueva_factura.importe_{$counter}.value)*((impuesto{$counter}/100)))+parseFloat(document.f_nueva_factura.importe_{$counter}.value);
            document.f_nueva_factura.total_{$counter}.value = fs_round((parseFloat(document.f_nueva_factura.importe_{$counter}.value)*((impuesto{$counter}/100)))+parseFloat(document.f_nueva_factura.importe_{$counter}.value),{#FS_NF0_ART#});
        {/loop}

        total_neto += parseFloat(document.f_nueva_factura.otro.value)+0;
        total_neto += parseFloat(document.f_nueva_factura.otro2.value)+0;

        codimpuesto_otro=buscar_impuesto(document.f_nueva_factura.impuesto_otro.value);
        codimpuesto_otro2=buscar_impuesto(document.f_nueva_factura.impuesto_otro2.value);

        total_impuestos += parseFloat(document.f_nueva_factura.otro.value)*((codimpuesto_otro)/100);
        total_impuestos += parseFloat(document.f_nueva_factura.otro2.value)*((codimpuesto_otro2)/100);

        total_importe += fs_round((parseFloat(document.f_nueva_factura.otro.value)*((codimpuesto_otro)/100))+parseFloat(document.f_nueva_factura.otro.value),{#FS_NF0#});
        total_importe += fs_round((parseFloat(document.f_nueva_factura.otro2.value)*((codimpuesto_otro2)/100))+parseFloat(document.f_nueva_factura.otro2.value),{#FS_NF0#});
        document.f_nueva_factura.total_neto.value = fs_round(total_neto, fs_nf0_art);
        document.f_nueva_factura.total_impuestos.value = fs_round(total_impuestos, fs_nf0_art);
        document.f_nueva_factura.total_importe.value = fs_round(total_importe, fs_nf0);
        document.f_nueva_factura.total_otro.value =  fs_round((parseFloat(document.f_nueva_factura.otro.value)*((codimpuesto_otro)/100))+parseFloat(document.f_nueva_factura.otro.value), fs_nf0_art);
        document.f_nueva_factura.total_otro2.value =  fs_round((parseFloat(document.f_nueva_factura.otro2.value)*((codimpuesto_otro2)/100))+parseFloat(document.f_nueva_factura.otro2.value), fs_nf0_art);
    }

    function nueva_factura(cod){
        if(cod){
            var url = '{#FS_PATH#}index.php?page=nueva_venta&tipo=factura';
            var form = $('<form action="' + url + '" method="post">' +
              '<input type="text" name="cliente" value="' + cod + '" />' +
              '</form>');
            $('body').append(form);
            form.submit();
        }
    }
    
    function revisar(counter, valor, checked) 
    {
        var input_line = $('#importe_'+counter);
        var input_orig_line = $('#importe_original_'+counter);
        if(checked) {
            input_line.val(input_orig_line.val());
        } else {
            input_line.val(0);
        }
        recalcular();
    }
    
    function verificarTotalImporte()
    {
        if(document.f_nueva_factura.total_importe.value == 0) {
            bootbox.alert('No se puede generar una factura vacia');
            return false;
        }
        return true;
    }

    $(document).ready(function () {
        recalcular();
        $("#b_eliminar").click(function (event) {
            event.preventDefault();
            if (confirm("¿Realmente desea eliminar este residente?"))
                window.location.href = 'index.php?page=lista_residentes&delete={$fsc->residente->id}';
        });
        $("#ac_referencia").autocomplete({
            serviceUrl: '{$fsc->url()}',
            paramName: 'buscar_referencia',
            onSelect: function (suggestion) {
                if (suggestion)
                {
                    if (document.f_nueva_factura.ref_otro.value != suggestion.data)
                    {
                        document.f_nueva_factura.ref_otro.value = suggestion.data;
                        document.f_nueva_factura.otro.value = suggestion.pvpi;
                        document.f_nueva_factura.impuesto_otro.value = suggestion.codimpuesto;
                        document.f_nueva_factura.desc_otro.value = suggestion.descripcion;
                        recalcular();
                    }
                }
            }
        });

        $("#ac_referencia2").autocomplete({
            serviceUrl: '{$fsc->url()}',
            paramName: 'buscar_referencia',
            onSelect: function (suggestion) {
                if (suggestion)
                {
                    if (document.f_nueva_factura.ref_otro2.value != suggestion.data)
                    {
                        document.f_nueva_factura.ref_otro2.value = suggestion.data;
                        document.f_nueva_factura.otro2.value = suggestion.pvpi;
                        document.f_nueva_factura.impuesto_otro2.value = suggestion.codimpuesto;
                        document.f_nueva_factura.desc_otro2.value = suggestion.descripcion;
                        recalcular();
                    }
                }
            }
        });
    });
</script>
<div class="container-fluid">
<form name="f_residente" action="{$fsc->url()}" method="post" class="form">
    <input type="hidden" name="cliente" value="{$fsc->residente->codcliente}"/>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-sm-6">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                <span class="glyphicon glyphicon-refresh"></span>
            </a>
            <a class="btn btn-sm btn-default" href="index.php?page=lista_residentes">
                <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Residentes
            </a>
            <div class="btn-group">
                <a class="btn btn-sm btn-default" href="index.php?page=lista_residentes&cliente={$fsc->residente->codcliente}">
                    <span class="glyphicon glyphicon-zoom-in"></span> &nbsp; Más del cliente
                </a>
                <a class="btn btn-sm btn-success" href="#" onclick="nueva_factura('{$fsc->residente->codcliente}')">
                    <span class="fa fa-plus"></span>&nbsp;Nueva Factura
                </a>
                {loop="$fsc->extensions"}
                {if="$value->type=='button'"}
                <a href="index.php?page={$value->from}" class="btn btn-sm btn-default">{$value->text}</a>
                {/if}
                {/loop}
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <div class="btn-group">
                <a id="b_eliminar" class="btn btn-sm btn-danger" href="#">
                    <span class="glyphicon glyphicon-trash"></span> &nbsp; Eliminar
                </a>
                <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                    <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label">Cliente: <a target="_blank" href="{#FS_PATH#}index.php?page=ventas_cliente&cod={$fsc->residente->codcliente}">{$fsc->residente->codcliente}</a></label>
                <div class="input-group">
                    <input class="form-control" type="text" name="cliente" readonly  value="{$fsc->residente->nombre}" placeholder="Residente" autocomplete="off"/>
                </div>
                <p class="help-block"><a href="{$fsc->cliente->url()}#nuevo" target="_blank">Nuevo cliente</a>.</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label">Teléfono:</label>
                <div class="input-group">
                    <input class="form-control" type="text" name="telefono" readonly  value="{$fsc->residente->telefono}" placeholder="Telefono" autocomplete="off"/>
                </div>
            </div>
        </div>
        {if="$fsc->residente->info"}
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label">Contacto Adicional:</label>
                <div class="input-group">
                    <input class="form-control" type="text" name="ca_cliente" readonly  value="{$fsc->residente->info->ca_nombres} {$fsc->residente->info->ca_apellidos}" placeholder="Buscar" autocomplete="off"/>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label">Teléfono C.A.:</label>
                <div class="input-group">
                    <input class="form-control" type="text" name="ca_telefono" readonly  value="{$fsc->residente->info->ca_telefono}" placeholder="Buscar" autocomplete="off"/>
                </div>
            </div>
        </div>
        {/if}
        <div class="clearfix"></div>
        {loop="$fsc->residente->pertenencia"}
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">{$value->desc_id}</label>
                <input class="form-control" type="text" name="{$value->id}" readonly value="{$value->valor}" autocomplete="off"/>
            </div>
        </div>
        {/loop}
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">Inmueble:</label>
                <input class="form-control" type="text" name="numero" readonly value="{$fsc->residente->numero}" autocomplete="off"/>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">Fecha de alta:</label>
                <input class="form-control datepicker" type="text" readonly name="fecha_ocupacion" value="{function="date('d-m-Y',strtotime($fsc->residente->fecha_ocupacion))"}" autocomplete="off"/>
            </div>
        </div>
    </div>
</form>

{/if}

<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Facturas del cliente</a>
        </li>
        <li role="presentation">
            <a href="#nuevaf" aria-controls="nuevaf" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-file"></span> &nbsp; Nueva
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th class="text-left">Código + {#FS_NUMERO2#}</th>
                            <th class="text-left">Cobros + Observaciones</th>
                            <th class="text-right">Total</th>
                            <th class="text-right">Fecha</th>
                            <th class="text-right">Vence</th>
                        </tr>
                    </thead>
                    <!--{$total=0}-->
                    <tbody>
                    {loop="$fsc->facturas"}
                    <tr class="clickableRow{if="!$value->pagada"} bg-danger{/if}" href="{$value->url()}">
                        <td class="text-center">
                            {if="$value->pagada"}
                            <span class="glyphicon glyphicon-ok" title="La factura está pagada"></span>
                            {else}
                            <!--{$total=$total+$value->total}-->
                            {/if}
                            {if="$value->femail"}
                            <span class="glyphicon glyphicon-send" title="La factura fue enviada por email el {$value->femail}"></span>
                            {/if}
                        </td>
                        <td class="text-center">
                            {if="$value->idasiento"}
                            <span class="glyphicon glyphicon-paperclip" title="La factura tiene vinculado un asiento contable"></span>
                            {/if}
                        </td>
                        <td><a href="{$value->url()}">{$value->codigo}</a> {$value->numero2}</td>
                        <td>{$value->referencias} {$value->observaciones_resume()}</td>
                        <td class="text-right">{$fsc->show_precio($value->total, $value->coddivisa)}</td>
                        <td class="text-right">{$value->fecha}</td>
                        <td class="text-right">{$value->vencimiento}</td>
                    </tr>
                    {else}
                    <tr class="bg-warning">
                        <td></td>
                        <td></td>
                        <td colspan="5">Ninguna factura encontrada.</td>
                    </tr>
                    {/loop}
                    {if="$total != 0"}
                    <tr>
                        <td colspan="5" class="text-right"><b>Deuda: &nbsp; {$fsc->show_precio($total)}</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {/if}
                    </tbody>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="nuevaf">
            <form name="f_nueva_factura" class="form" action="{$fsc->url()}" method="post">
                <input type="hidden" name="ref_otro"/>
                <input type="hidden" name="ref_otro2"/>
                <div class='col-sm-1'></div>
                <div class="container-fluid col-sm-10" style="margin-top: 10px;">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr class='text-center'>
                                    <th class="col-sm-1"></th>
                                    <th class="col-sm-2">Referencia</th>
                                    <th class="col-sm-3">Concepto</th>
                                    <th class="col-sm-2">Importe</th>
                                    <th class="col-sm-2">Impuesto</th>
                                    <th class="col-sm-2">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--{$totalLineas=2}-->
                                {loop="$fsc->articulos_cobrables"}      
                                <tr>
                                    <td>
                                        <input type="checkbox" name="opcion_{$counter}" onclick="revisar('{$counter}',{$value->pvp}, this.checked)">
                                    </td>
                                    <td>
                                        {$value->referencia}
                                        <input type="hidden" name="referencia_{$counter}" value="{$value->referencia}">
                                    </td>
                                    <td>
                                        {$value->descripcion}
                                    </td>
                                    <td>
                                        <input type="hidden"id="importe_original_{$counter}" name="importe_original_{$counter}" value="{$value->pvp}">
                                        <input class="form-control input-sm" type="text" id="importe_{$counter}" name="importe_{$counter}" value="0" autocomplete="off" onkeyup="recalcular()"/>
                                    </td>
                                    <td>
                                         <select name="impuesto_{$counter}" class="form-control  input-sm" onchange="recalcular()">
                                            {loop="$fsc->impuesto->all()"}
                                            <option value="{$value2->codimpuesto}"{if="$value2->codimpuesto==$value1->codimpuesto"} selected="selected"{/if}>{$value2->descripcion}</option>
                                            {/loop}
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" type="text" id="total_{$counter}" name="total_{$counter}" value="0" autocomplete="off" onkeyup="recalcular()"/>
                                    </td>
                                </tr>
                                 <!--{$totalLineas++}-->
                                {/loop}
                                <input type="hidden" name="numlineas" value="{$totalLineas}">
                                <tr>
                                    <td><input type="hidden" name="opcion_otro"></td>
                                    <td>
                                        <input class="form-control input-sm" type="text" name="ac_referencia" id="ac_referencia" maxlength="18" placeholder="referencia" autocomplete="off"/>
                                        <p class="help-block">Opcional</p>
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" type="text" name="desc_otro" placeholder="Otro concepto"/>
                                        <p class="help-block">Dejar en blanco para no usar.</p>
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" type="text" name="otro" value="0" autocomplete="off" onkeyup="recalcular()"/>
                                    </td>
                                    <td>
                                        <select name="impuesto_otro" class="form-control input-sm" onchange="recalcular()">
                                            {loop="$fsc->impuesto->all()"}
                                            <option value="{$value->codimpuesto}"{if="$value->is_default()"} selected="selected"{/if}>{$value->descripcion}</option>
                                            {/loop}
                                        </select>    
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" type="text" name="total_otro" value="0" autocomplete="off" onkeyup="recalcular()"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="hidden" name="opcion_otro2"></td>
                                    <td>
                                        <input class="form-control input-sm" type="text" name="ac_referencia2" id="ac_referencia2" maxlength="18" placeholder="referencia" autocomplete="off"/>
                                        <p class="help-block">Opcional</p>
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" type="text" name="desc_otro2" placeholder="Otro concepto"/>
                                        <p class="help-block">Dejar en blanco para no usar.</p>
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" type="text" name="otro2" value="0" autocomplete="off" onkeyup="recalcular()"/>
                                    </td>
                                    <td>
                                        <select name="impuesto_otro2" class="form-control input-sm" onchange="recalcular()">
                                            {loop="$fsc->impuesto->all()"}
                                            <option value="{$value->codimpuesto}"{if="$value->is_default()"} selected="selected"{/if}>{$value->descripcion}</option>
                                            {/loop}
                                        </select>    
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" type="text" name="total_otro2" value="0" autocomplete="off" onkeyup="recalcular()"/>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="3">

                                    </th>
                                    <th>
                                        Total Neto:
                                        <input class="form-control input-sm" type="text" name="total_neto" value="0" readonly/>
                                    </th>
                                    <th>
                                        Total Impuestos:
                                        <input class="form-control input-sm" type="text" name="total_impuestos" value="0" readonly/>
                                    </th>
                                    <th>
                                        Total Importe:
                                        <input class="form-control input-sm" type="text" name="total_importe" value="0" readonly/>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="6" class="text-right">
                                        <button class="btn btn-sm btn-primary" type="submit" name="accion" value="generar_factura" onclick="return verificarTotalImporte();">
                                            <span class="glyphicon glyphicon-edit"></span> &nbsp; Generar factura
                                        </button>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class='col-sm-1'></div>
            </form>
        </div>
    </div>
</div>
</div>
{include="footer"}
